<!doctype html>
<html>
    
    <head>
        <title>
            叶韵漪的简历
        </title>
        <meta name="author" content="Nathaniel Welch">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <div id="resume">
            {{{body}}}
        </div>
    </body>

</html>